<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

<!-- Footer Links -->
<div class="container-fluid text-center text-md-left">

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-4 text-center">
    <!-- Content -->
    <img src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="HitCounters">
  </div>

  <!-- Grid column -->
  <div class="col-md-4 text-center">
    <!-- Content -->
    {% include my_rrss-2.html %}
  </div>

  <!-- Grid column -->
  <div class="col-md-4 text-center">
    <!-- Content -->
    <div class="footer-copyright text-center py-3">
      <p>© 2019 CopyItAll: Gomix</p>
    </div>
  </div>

</div>

<!-- Grid row -->
</div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <!-- <p>© 2019 Copyright: Gomix</p> -->
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
