<!-- Footer -->
<footer class="container-fluid font-small text-center p-0 m-0">
<hr class="ml-lg-4 mr-lg-4"/>
<!-- Footer Links -->
<!-- Grid row -->
<div class="row m-0 ml-lg-4 mr-lg-4">
  <!-- Grid column -->
  <div class="col-md-2 col-md-offset-2 text-center pl-4 pr-4">
    <!-- Gonkar Referral -->
      <a href="https://www.cautivatech.com/"
         alt="Soluciones IT OpenSource"
         title="Cautiva Technology">
        <img 
         src="/assets/images/cautiva/cautiva-logo-1.png" 
         style="width:100%"
         />
      </a>
    <!-- Cautiva Referral -->
  </div>

  <!-- Grid column -->
  <div class="col-md-2 text-center pl-4 pr-4">
    <!-- Gonkar Referral -->
      <a href="https://gonkar.com/secure/aff.php?aff=4"
         alt="Great Secure Web Hosting"
         title="Great Secure Web Hosting">
        <img 
         src="/assets/images/gonkar/gonkar-it-security.png" 
         style="width:100%"
         />
      </a>
    <!-- Gonkar Referral -->
  </div>

  <!-- Grid column -->
  <div class="col-md-2 text-center pl-4 pr-4">
    <a href="https://getfedora.org"
       alt="Get Fedora!"
       title="Get Fedora!">
      <img 
         src="/assets/images/fedora/fedora-logo-1.png" 
         style="width:100%"
         />
    </a>
  </div>

  <div class="col-md-2 text-center pl-4 pr-4">
    <a href="https://www.centos.org/"
       alt="CentOS Logo"
       title="CentOS">
      <img 
         src="/assets/images/centos/centos-logo-1.png" 
         style="width:100%"
         />
    </a>
  </div>

  <!-- Grid column -->
  <div class="col-md-2 text-center pl-4 pr-4">
    <a href="https://www.redhat.com"
       alt="Red Hat Logo"
       title="Red Hat">
      <img 
         src="/assets/images/redhat/redhat-logo-1.png" 
         style="width:100%"
         />
    </a>
  </div>
<!-- Grid row -->
</div>

<hr class="ml-lg-4 mr-lg-4"/>

<div class="row">
  <!-- Grid column -->
  <div class="col-md-12 text-center">
    <!-- Content -->
    {% include my_rrss-2.html %}
    <!-- Copyright -->
    <div class="footer-copyright text-center">
      <p>© 2019 CopyItAll: Gomix</p>
    </div>
    <!-- Copyright -->
  </div>
</div>

</footer>
<!-- Footer -->
