<div class="row">
  <div class="col-md-6">
    <h1>Free Open Source Software</h1>
  </div>

  <div class="col-md-6">
    <nav class="navbar navbar-expand-sm justify-content-end">
      <ul class="navbar-nav">
      {% for member in site.data.foss %}
          <!--<a class="nav-link" href="{{ member.path }}">{{ member.name }}</a> -->
          <!-- <img src="{{ member.header_logo_src }}"
               alt="{{ member.alt_text }}"
               class="img-fluid float-right"
               width="300px"> -->
      {% endfor %}
      </ul> 
    </nav>
  </div>
</div>
