<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link"href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/posts">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/foss_topics">FOSS</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programming</a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="/programming/go">Go</a>
         <a class="dropdown-item" href="/programming/ccplus">C/C++</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="/programming/ruby">Ruby</a>
         <a class="dropdown-item" href="/programming/python">Python</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link"href="/about/about_me.html">About Me</a>
    </li>
</ul> 
