<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link"href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/posts">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/foss_topics">FOSS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/programming">Programming</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"href="/about/about_me.html">About Me</a>
    </li>
</ul> 
